#set($address = "$!request.address")
#set($jsonBuilder = $services.celementsweb.getNewJSONBuilder())
$jsonBuilder.addStringProperty('address', $address)
$jsonBuilder.openProperty('geocodes')
$jsonBuilder.openArray()
#foreach($latLng in $services.geocoding.geocodeAddress($address))
$jsonBuilder.openDictionary()
$jsonBuilder.openProperty('lat')
$jsonBuilder.addNumber($latLng.lat)
$jsonBuilder.openProperty('lng')
$jsonBuilder.addNumber($latLng.lng)
$jsonBuilder.closeDictionary()
#end
$jsonBuilder.closeArray()
$jsonBuilder.getJSON()