#set($jsonBuilder = $services.celementsweb.getNewJSONBuilder())
$jsonBuilder.openArray()
#set($query = $services.lucene.createQuery())
#set($devNull = $query.addRestriction($services.lucene.createRestriction("space", '"Places"')))
#if("$!request.zip" != '')
  #set($devNull = $query.addRestriction($services.lucene.createRestriction("CelementsPlaces.CityClass.zip", "$!{request.zip}")))
#end
#if("$!request.placeName" != '')
  #set($devNull = $query.addRestriction($services.lucene.createRestriction("CelementsPlaces.CityClass.name", "$!{request.placeName}")))
#end
#if("$!request.county" != '')
  #set($countyList = $util.getArrayList())
  #foreach($county in $request.county.split(','))
    #set($devNull = $countyList.add($services.lucene.createRestriction("CelementsPlaces.CityClass.county", "${Q}$county${Q}")))
  #end
  #set($devNull = $query.addOrRestrictionList($countyList))
#end
#if("$!request.countryCode" != '')
## switzerland = 756
  #set($devNull = $query.addRestriction($services.lucene.createRestriction("CelementsPlaces.CityClass.countryISONum", "${Q}$!{request.countryCode}${Q}")))
#end
#set($nowLuceneDate = $!datetool.get("yyyyMMddHHmm"))
#set($devNull = $query.addRestriction($services.lucene.createRangeRestriction("CelementsPlaces.CityClass.validFrom", "*", $nowLuceneDate)))
#set($devNull = $query.addRestriction($services.lucene.createRangeRestriction("CelementsPlaces.CityClass.validUntil", $nowLuceneDate, "999912312359")))
#set($luceneQuery = "$query.getQueryString()")
#set($results = $xwiki.lucene.getSearchResults($luceneQuery, "default"))
##<hr />$luceneQuery : $results.results.size() <hr />
#foreach($result in $results.results)
#set($placeDoc = $xwiki.getDocument($services.model.resolveDocument("${result.web}.${result.name}")))
#set($placeObj = $placeDoc.getObject('CelementsPlaces.CityClass', false))
$jsonBuilder.openDictionary()
$jsonBuilder.addStringProperty('fullName', "${result.web}.${result.name}")
$jsonBuilder.addStringProperty('zip', "$!placeObj.getProperty('zip').getValue()")
$jsonBuilder.addStringProperty('shortName', "$!placeObj.getProperty('shortName').getValue()")
$jsonBuilder.addStringProperty('name', "$!placeObj.getProperty('name').getValue()")
$jsonBuilder.addStringProperty('county', "$!placeObj.getProperty('county').getValue()")
$jsonBuilder.addStringProperty('primaryLanguage', "$!placeObj.getProperty('primaryLanguage').getValue()")
$jsonBuilder.addStringProperty('countryISONum', "$!placeObj.getProperty('countryISONum').getValue()")
$jsonBuilder.closeDictionary()
#end
$jsonBuilder.closeArray()
$jsonBuilder.getJSON()