<link rel="stylesheet" type="text/css" href="$services.celementsweb.getSkinFile(':celcrmRes/googleMapsPageType.css', 'file')">
#set($jsService = $services.javascript)
#set($extJsParamSync = $!jsService.createExtJSParam().setAction('file'))
$!jsService.includeExtJsFile($extJsParamSync.setJsFile(':celcrmJS/initGoogleMapsPageType.js'))##

#parse("celTemplates/RichTextView.vm")
#if("$!celldoc" != "")
  #set($docRef = $celldoc.getDocumentReference())
#else
  #set($docRef = $doc.getDocumentReference())
#end
#set($geotagClassDocRef = $!services.crmplace.geoTagClassRef.docRef)
#if("$!geotagClassDocRef" != "")
  #set($geotagObj = $services.modelAccess.getObject($docRef, $geotagClassDocRef))
  <!-- MAP -->
  <div id="googleMapsContainer" data-longitude="$!geotagObj.getProperty('longitude').getValue()" data-latitude="$!geotagObj.getProperty('latitude').getValue()"></div>
#end
